<!-- Inclode Navigation Bar for each Page -->
<%- include('./partials/header.ejs') %>

<div class="container my-12 px-6 mx-auto">
  <section class="mb-32">
    <style>
      @media (min-width: 90vh) {
        #cta-img-nml-50 {
          margin-left: 50px;
        }
      }
    </style>

    <div class="flex flex-wrap">
      <div class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0">
        <div class="flex lg:py-12">
          <img
            src="./images/about.jpg"
            class="w-full rounded-lg shadow-lg"
            id="cta-img-nml-50"
            style="z-index: 10"
            alt=""
          />
        </div>
      </div>

      <div class="grow-0 shrink-0 basis-auto w-full lg:w-7/12">
        <div
          class="bg-green-500 h-full rounded-lg p-6 lg:pl-12 text-white flex items-center text-center lg:text-left"
        >
          <div class="lg:pl-12">
            <h2 class="text-3xl font-bold mb-6">Mahmood Masud</h2>
            <p class="mb-6 pb-2 lg:pb-0">
              Ricipe Buddy we help people manage your diet by displaying
              nutritional facts such as, carbs, fat, protein, salt, and sugar in
              a recipe based on food ingredients in the recipe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
