<!-- Inclode Navigation Bar for each Page -->
<%- include('./partials/header.ejs') %>
<!-- component -->
<div class="flex items-center justify-center h-[90vh] overflow-scroll">
  <div class="md:grid md:grid-cols-4 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0 flex flex-col justify-center h-full">
        <h1
          class="text-2xl md:text-3xl xl:text-54xl font-bold tracking-tight mb-6 text-green-500"
        >
          Add New Food
        </h1>

        <img class="w-28" src="./images/logo.png" alt="" />
      </div>
    </div>
    <div class="mt-5 md:col-span-3 md:mt-0">
      <form id="addFood">
        <div class="shadow sm:rounded-md mt-12">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-4 space-y-2">
                <label
                  for="name"
                  class="block text-sm font-medium text-gray-700"
                  >Recipe Name</label
                >
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Recipe Name"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="category"
                  class="block text-sm font-medium text-gray-700"
                  >Category</label
                >
                <input
                  type="text"
                  name="category"
                  id="category"
                  placeholder="Vegetables, Meat, Beverages, Desserts etc"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-4 space-y-2">
                <label
                  for="unit"
                  class="block text-sm font-medium text-gray-700"
                  >Recipe Unit</label
                >
                <input
                  type="text"
                  name="unit"
                  id="unit"
                  placeholder="tblspoon, cup, pkt etc"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-2 space-y-2">
                <label
                  for="weight"
                  class="block text-sm font-medium text-gray-700"
                  >Recipe Weight</label
                >
                <input
                  type="text"
                  name="weight"
                  id="weight"
                  value="0.0"
                  placeholder="gram"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-2 space-y-2">
                <label
                  for="calories"
                  class="block text-sm font-medium text-gray-700"
                  >Calories</label
                >
                <input
                  type="text"
                  name="calories"
                  id="calories"
                  value="0.0"
                  placeholder="Total Calories"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-2 space-y-2">
                <label
                  for="protein"
                  class="block text-sm font-medium text-gray-700"
                  >Protein</label
                >
                <input
                  type="text"
                  name="protein"
                  id="protein"
                  value="0.0"
                  placeholder="Protein"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-2 space-y-2">
                <label for="fat" class="block text-sm font-medium text-gray-700"
                  >Fat</label
                >
                <input
                  type="text"
                  name="fat"
                  id="fat"
                  value="0.0"
                  placeholder="Fat"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-2 space-y-2">
                <label
                  for="carbohydrate"
                  class="block text-sm font-medium text-gray-700"
                  >Carbohydrate</label
                >
                <input
                  type="text"
                  name="carbohydrate"
                  id="carbohydrate"
                  value="0.0"
                  placeholder="Total Carbohydrate"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="cholesterol"
                  class="block text-sm font-medium text-gray-700"
                  >Cholesterol</label
                >
                <input
                  type="text"
                  name="cholesterol"
                  id="cholesterol"
                  value="0.0"
                  placeholder="Colesterol"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="sugars"
                  class="block text-sm font-medium text-gray-700"
                  >Sugars</label
                >
                <input
                  type="text"
                  name="sugars"
                  id="sugars"
                  value="0.0"
                  placeholder="Sugars"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="salt"
                  class="block text-sm font-medium text-gray-700"
                  >Salt</label
                >
                <input
                  type="text"
                  name="salt"
                  id="salt"
                  value="0.0"
                  placeholder="Salt"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="water"
                  class="block text-sm font-medium text-gray-700"
                  >Water</label
                >
                <input
                  type="text"
                  name="water"
                  id="water"
                  placeholder="Water"
                  value="0.0"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="caloriesFromProtein"
                  class="block text-sm font-medium text-gray-700"
                  >Calories From Protein %</label
                >
                <input
                  type="text"
                  name="caloriesFromProtein"
                  id="caloriesFromProtein"
                  value="0.0"
                  placeholder="Calories From Protein"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="caloriesFromFat"
                  class="block text-sm font-medium text-gray-700"
                  >Calories From Fat %</label
                >
                <input
                  type="text"
                  name="caloriesFromFat"
                  id="caloriesFromFat"
                  value="0.0"
                  placeholder="Calories from Fat"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="caloriesFromCarbohydrate"
                  class="block text-sm font-medium text-gray-700"
                  >Calories From Carbohydrate %</label
                >
                <input
                  type="text"
                  name="caloriesFromCarbohydrate"
                  id="caloriesFromCarbohydrate"
                  value="0.0"
                  placeholder="Calories From Carbohydrate"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label
                  for="energy"
                  class="block text-sm font-medium text-gray-700"
                  >Energy <span class="text-xs">kj</span></label
                >
                <input
                  type="text"
                  name="energy"
                  id="energy"
                  value="0.0"
                  placeholder="Energy in kj"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button
              type="submit"
              class="mt-5 w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            >
              Add New Food
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Toast Notification Fumction
  function showToast(msg) {
    Toastify({
      text: msg,
      duration: 1000,
    }).showToast()
  }

  // Dom Selections
  const addFoodFrom = document.getElementById('addFood')
  addFoodFrom.addEventListener('submit', handleAddFood)

  // Add Food Hander if Added show success message else show error message
  async function handleAddFood(e) {
    e.preventDefault()
    const formData = new FormData(e.target)
    const data = Object.fromEntries(formData)

    try {
      const rawResponse = await fetch('/food', {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      const content = await rawResponse.json()

      if (rawResponse.status === 200) {
        return showToast('Recipe Added Successfully')
      } else {
        return showToast(content.message)
      }
    } catch (error) {
      console.log({ error })
      return showToast(error.message)
    }
  }
</script>
