<%- include('./partials/header.ejs') %>
<!-- component -->
<div class="flex items-center justify-center h-[90vh]">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0 flex flex-col justify-center h-full">
        <h1
          class="text-2xl md:text-3xl xl:text-54xl font-bold tracking-tight mb-6 text-green-500"
        >
          Add New Food
        </h1>

        <img class="w-28" src="./images/logo.png" alt="" />
      </div>
    </div>
    <div class="mt-5 md:col-span-2 md:mt-0">
      <form id="addFood" name="addFood" onsubmit="handleAddFood(event)">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label
                  for="name"
                  class="block text-sm font-medium text-gray-700"
                  >Food Name</label
                >
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label
                  for="typicalValueUnit"
                  class="block text-sm font-medium text-gray-700"
                  >Unit Name</label
                >
                <input
                  type="text"
                  name="typicalValueUnit"
                  id="typicalValueUnit"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label
                  for="typicalValue"
                  class="block text-sm font-medium text-gray-700"
                  >Typical Value Per Unit</label
                >
                <input
                  type="text"
                  name="typicalValue"
                  id="typicalValue"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label
                  for="carbs"
                  class="block text-sm font-medium text-gray-700"
                  >Carbs</label
                >
                <input
                  type="text"
                  name="carbs"
                  id="carbs"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label for="fat" class="block text-sm font-medium text-gray-700"
                  >Fat</label
                >
                <input
                  type="text"
                  name="fat"
                  id="fat"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label
                  for="protein"
                  class="block text-sm font-medium text-gray-700"
                  >Protein</label
                >
                <input
                  type="text"
                  name="protein"
                  id="protein"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label
                  for="salt"
                  class="block text-sm font-medium text-gray-700"
                  >Salt</label
                >
                <input
                  type="text"
                  name="salt"
                  id="salt"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>

              <div class="col-span-6 sm:col-span-3 space-y-2">
                <label
                  for="sugar"
                  class="block text-sm font-medium text-gray-700"
                  >Sugar</label
                >
                <input
                  type="text"
                  name="sugar"
                  id="sugar"
                  class="border rounded-[4px] p-2 hover:outline-none focus:outline-none hover:border-yellow-500 w-full"
                />
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button
              type="submit"
              class="mt-5 w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
            >
              Add New Food
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function showToast(msg) {
    Toastify({
      text: msg,
      duration: 1000,
    }).showToast()
  }
  async function handleAddFood(event) {
    event.preventDefault()
    let name = document.forms['addFood']['name'].value
    let typicalValueUnit = document.forms['addFood']['typicalValueUnit'].value
    let typicalValue = document.forms['addFood']['typicalValue'].value
    let carbs = document.forms['addFood']['carbs'].value
    let fat = document.forms['addFood']['fat'].value
    let protein = document.forms['addFood']['protein'].value
    let salt = document.forms['addFood']['salt'].value
    let sugar = document.forms['addFood']['sugar'].value

    if (!name.length) {
      return showToast('Food name is Rquired!')
    } else if (!typicalValueUnit.length) {
      return showToast('Typical value Unit Name is Rquired!')
    } else if (!typicalValue.length || isNaN(typicalValue)) {
      return showToast('Typical Value is Rquired && Should Be number')
    } else if (!carbs.length || isNaN(carbs)) {
      return showToast('Carbs is Rquired && Should Be number')
    } else if (!fat.length || isNaN(fat)) {
      return showToast('Fat is Rquired && Should Be number')
    } else if (!protein.length || isNaN(protein)) {
      return showToast('Protein is Rquired && Should Be number')
    } else if (!salt.length || isNaN(salt)) {
      return showToast('Salt is Rquired && Should Be number')
    } else if (!sugar.length || isNaN(sugar)) {
      return showToast('Sugar is Rquired && Should Be number')
    } else {
      try {
        const data = {
          name,
          typicalValueUnit,
          typicalValue,
          carbs,
          fat,
          protein,
          salt,
          sugar,
        }
        const rawResponse = await fetch('/food', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        const content = await rawResponse.json()
        return showToast('Food Added Successfully')
      } catch (error) {
        return showToast(error.message)
      }
    }
  }
</script>
