<%- include('./partials/header.ejs') %>
<!-- component -->
<div class="flex items-center justify-center h-[90vh]">
  <!-- Login Container -->
  <form
    id="login"
    onsubmit="handleLogin(event)"
    class="w-3/6 flex-col border bg-white px-8 py-10 shadow-md rounded-[4px]"
  >
    <div class="mb-6 flex justify-center">
      <img class="w-28" src="./images/logo.png" alt="" />
    </div>
    <div class="flex flex-col text-sm rounded-md">
      <input
        class="mb-5 rounded-[4px] border p-3 hover:outline-none focus:outline-none hover:border-yellow-500"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="border rounded-[4px] p-3 hover:outline-none focus:outline-none hover:border-yellow-500"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <button
      type="submit"
      class="mt-5 w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
      type="submit"
    >
      Login
    </button>
    <div class="mt-5 flex justify-between text-sm text-gray-600">
      <span>Create a new account?</span>
      <a href="/register">Register</a>
    </div>
  </form>
</div>

<script>
  function showToast(msg) {
    Toastify({
      text: msg,
      duration: 1000,
    }).showToast()
  }

  async function handleLogin(event) {
    event.preventDefault()
    let username = document.forms['login']['username'].value
    let password = document.forms['login']['password'].value

    if (!username.length) {
      return showToast('Username is Required!')
    } else if (!password.length) {
      return showToast('Passwrod is Required!')
    } else {
      try {
        let data = { username, password }
        const response = await fetch('/auth/login', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        let result = await response.json()
        if (response.status === 200) {
          return showToast('Login Success!')
        } else {
          return showToast(result.message)
        }
      } catch (error) {
        return showToast(error.message)
      }
    }
  }
</script>
